services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: backend
    env_file:
      - ./backend/.env
    volumes:
      - ./backend:/code
      - sqlite_data:/code/data
      - ./backend/secrets/serviceAccountKey.json:/code/serviceAccountKey.json:ro

    ports:
      - "8000:8000"


  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: frontend
    ports:
      - "3000:3000"
    depends_on:
      - backend
    env_file:
      - ./frontend/.env
    volumes:
      - ./frontend:/app
      - /app/node_modules

volumes:
  sqlite_data:
    driver: local